<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.classes.dao.ClassesDao">    
	<resultMap type="com.main.classes.model.Classes" id="classesmap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="remark" property="remark"/>
	</resultMap>	
	<sql id="selectClassesSql">
	   <![CDATA[
	   		select id,name,remark from t_classes
	   ]]>
	</sql>
	<select id="findList" resultMap="classesmap" parameterType="com.main.classes.model.Classes">
		<include refid="selectClassesSql"></include>
		<where>
			<if test="name!=null ">
			    and name=#{name}
			</if>
		</where>
	</select>
</mapper>